<p> Voici les détails de l'auteur : </p>
<p> Prénom : <%= @user.first_name %></p>
<p> Nom de famille : <%= @user.last_name %></p>
<p> Description : <%= @user.description %></p>
<p> E-mail de contact : <%= @user.email %></p>
<p> Age : <%= @user.age %></p>
<p> Ville : <%= @user.city.name %></p>
<p> Date de création du compte : <%= @user.created_at %></p>
